<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.jalinfotec.soraguide">

    <!--androidでインターネット接続するために必要なpermission-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            tools:ignore="GoogleAppIndexingWarning"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <!--最初に呼び出されるアクティビティ：TOPメニュー画面-->
        <activity android:name=".TopMenuActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>


        <!--AdMobアプリIDの設定-->
        <!-- AdMob App ID: ca-app-pub-2003234893806822~5059310598 -->
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-2003234893806822~5059310598"/>


        <!--各アクティビティの追加↓↓-->

        <!--<activity android:name=".AirportGuideActivity">-->
        <!--</activity>-->
        <!--<activity android:name=".AirportGuideDetailActivity">-->
        <!--</activity>-->
        <!--<activity android:name=".AirportGuideArActivity">-->
        <!--</activity>-->
        <!--<activity android:name=".FlightInfoListActivity">-->
        <!--</activity>-->
        <!--<activity android:name=".FlightInfoDetailActivity">-->
        <!--</activity>-->
        <!--<activity android:name=".MyFlightRegistrationActivity">-->
        <!--</activity>-->
        <!--<activity android:name=".MyFlightCheckActivity">-->
        <!--</activity>-->

    </application>

</manifest>
